*{
    margin: 0;
    padding: 0;
    outline: none;
}

:active{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
body{
    width: 100%;
    height: 100%;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    user-select: none;
}
.conteiner{
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    display: flex;
}
.btn{
    margin: 0 auto;
    width: 350px;
    background: rgb(229, 255, 0);
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
.btn_start{
    padding:5%;
    margin-top: 10%;
}
.tablo{
text-align: center;
}
.text{
    margin-top: 50%;
    font-size: 15px;
    text-align: center;
}
.btn:active{
    background: rgb(83, 136, 83);
}
/*header*/
header{
    width: 100%;
    height: auto;
    background: red;
}
/*1блок*/
.upgrade_click {
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
}

/*2блок*/
.upgade_balans{
    width: 25%;
    border: 1px solid rgb(0, 0, 0);
}
/*3блок*/
.store{
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    text-align: center;
}
/*общее*/
.header_blocks:active .tab_1{
    background-color: white;
}
.header_blocks:active{
    background: white;
}
.header_blocks:active .price{
    color: white;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
.text_upgrade{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 10px;
}
.price{
    font-family: 'Montserrat', sans-serif;
    color: aqua;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
/*табы*/
.tab_1 {
    background-color: black;
    width: 100%;
    height: 1px;
}
.limit{
    text-align: center;
    color: red;
}

/*Адаптив*/
@media (min-width: 324px) and (max-width: 1024px)  {
    header{
        height: auto;
        background: rgb(0, 0, 0);
    }
    .upgrade_click{
        width: 50%;
        border-right: 2px solid white;
    }
    .upgade_balans{
        width: 50%;
    }
    .store{
        display: none;
    }
    .text_upgrade{
        font-size: 50px;
        text-align: center;
    }
    .header_blocks:active .tab_1{
        background-color: rgb(0, 255, 55);
    }
    .header_blocks:active{
        background-color: rgb(0, 255, 55);
    }
    .header_blocks:active .price{
        color: rgb(0, 255, 55);
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -ms-transition: all 0.1s;
        -o-transition: all 0.1s;
    }
    .btn_start{
        padding:0%;
        margin-top: 10%;
    }
    .btn{
        white-space: nowrap;
        width: 100%;
        height: 884px;
        background: rgb(51, 43, 129);
        align-items: center;
        border-radius: 35px;
        color: white;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
}
    .text{
        font-size: 50px;
    }
    .tablo_click{
        font-size: 80px;
        font-weight: bold;
        font-family:'Roboto';
    }
    .tablo{
        font-size: 110px;
    }
    .limit{
        font-size: 100px;
    }
    .conteiner{
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .text{
        margin-top: 50%;
    }
    .mobile_conteiner{
        padding: 5%;
    }
    .btn:active{
        background: rgb(32, 161, 60);
    }
}